$--recycle-scroller-item-view-hover-background-color: #F2F2F2 !default;
$--tree-node-check-padding-top: 4px !default;
$--tree-node-check-width: 16px !default;
$--tree-node-check-height: 16px !default;
$--tree-node-check-margin-right: 8px !default;
$--tree-node-expand-width: 20px !default;
$--tree-node-expand-height: 24px !default;
$--tree-node-deep-item-width: 24px !default;
$--tree-node-expand-btn-font-size: 12px !default;
$--tree-node-expand-btn-line-height: 24px !default;
$--tree-node-expand-btn-color: #CCCCCC !default;
$--tree-node-expand-btn-is-expanded-color: #2E6BE6 !default;
$--tree-node-expand-btn-loading-font-size: 14px !default;
$--tree-node-checkbox-btn-border: 1px solid #666666 !default;
$--tree-node-checkbox-btn-border-radius: 3px !default;
$--tree-node-checkbox-btn-width: 16px !default;
$--tree-node-checkbox-btn-height: 16px !default;
$--tree-node-checkbox-btn-background-color: #FFFFFF !default;
$--tree-node-checkbox-btn-is-disabled-border: 1px solid #d65d5d !default;
$--tree-node-checkbox-btn-is-checked-background-color: #2E6BE6 !default;
$--tree-node-checkbox-btn-is-checked-border-color: #2E6BE6 !default;
$--tree-node-checkbox-btn-is-indeterminate-background-color: #2E6BE6 !default;
$--tree-node-checkbox-btn-is-indeterminate-border-color: #2E6BE6 !default;
$--tree-node-checkbox-btn-is-indeterminate-before-background-color: #FFFFFF !default;
$--tree-node-checkbox-btn-is-indeterminate-before-height: 2px !default;
$--tree-node-checkbox-btn-is-indeterminate-before-left: 0 !default;
$--tree-node-checkbox-btn-is-indeterminate-before-right: 0 !default;
$--tree-node-checkbox-btn-is-indeterminate-before-top: 6px !default;
$--tree-node-checkbox-btn-is-indeterminate-after-border: 1px solid #FFFFFF !default;
$--tree-node-checkbox-btn-is-indeterminate-after-height: 8px !default;
$--tree-node-checkbox-btn-is-indeterminate-after-width: 4px !default;
$--tree-node-checkbox-btn-is-indeterminate-after-left: 4px !default;
$--tree-node-checkbox-btn-is-indeterminate-after-top: 1px !default;
$--tree-node-checkbox-btn-is-indeterminate-after-border-left: 0 !default;
$--tree-node-checkbox-btn-is-indeterminate-after-border-top: 0 !default;
$--tree-node-select-btn-padding: 4px !default;
$--tree-node-select-btn-color: #666666 !default;
$--tree-node-select-btn-font-size: 12px !default;
$--tree-node-select-btn-line-height: 24px !default;
$--tree-node-select-btn-border-radius: 3px !default;
$--tree-node-select-btn-is-selected-background-color: #F2F2F2 !default;
$--tree-node-select-btn-is-selected-color: #666666 !default;
$--tree-node-select-btn-is-disabled-color: #333333 !default;
$--tree-node-expand-btn-is-selected-color: #CCCCCC !default;
$--tree-node-expand-btn-is-expanded-selected-color: #2E6BE6 !default;
$--tree-node-checkbox-btn-is-checked-selected-background-color: $--tree-node-checkbox-btn-is-checked-background-color !default;
$--tree-node-checkbox-btn-is-checked-selected-after-border-color: #FFFFFF !default;
$--tree-node-checkbox-btn-is-indeterminate-selected-background-color: $--tree-node-checkbox-btn-is-indeterminate-background-color !default;
$--tree-node-checkbox-btn-is-indeterminate-selected-before-background-color: $--tree-node-checkbox-btn-is-indeterminate-before-background-color !default;
$--tree-node-checkbox-btn-selected-border-color: #666666 !default;